
.img-fluid {
max-width: 100%;
height: auto;
}
.carousel-item{
height: 400px;
}
.carousel-item img{
/* position: absolute; */
left: 0;
top: 0;
min-height: 100%;
z-index: -1;
}
/* .carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
} */z
.mr-top{
margin-top: 5rem;
}
.carousel-caption{
padding-bottom: 80px;
/* padding-right: 450px; */
}

      /* css animation */
      #move:hover{
animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
transform: translate3d(0, 0, 0);
backface-visibility: hidden;
perspective: 1000px;
}

@keyframes shake {
10%, 90% {
transform: translate3d(-1px, 0, 0);
}

20%, 80% {
transform: translate3d(2px, 0, 0);
}

30%, 50%, 70% {
transform: translate3d(-4px, 0, 0);
}

40%, 60% {
transform: translate3d(4px, 0, 0);
}
}


.img-move{
    -webkit-animation: mover 4s infinite alternate;
    animation: mover 5s infinite alternate;
}
.img-move{
    -webkit-animation: mover 4s infinite alternate;
    animation: mover 3s infinite alternate;
}
@-webkit-keyframes mover {
    0%{ transform: translateY(-1); }
    100%{  transform: translateY(-800px)}
}
@keyframes mover {
0% { transform: translateY(-1); }
100% { transform: translateY(-400px);}
}
.img-move{
    margin-top: 400px;
}

.colr{
color: blue;
}

nav{
    background-color: blue;
}
 
           /* search field css */

.search{
    border: 1px solid blue;
    color: blue;
    box-shadow: 20px;
    font-size: 20px;
}



 /* shaking css */


 #move1{ 
    /* margin-top: 100px; */
     animation: shake 9s; 
    animation-iteration-count: infinite;
  } 
  @keyframes shake{
     0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(adeg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
   